button {
    background: 0;
    border: none;
    padding: 0;
    color: rgb(228, 215, 181);
    text-shadow: 0px 1px 5px chocolate;
    cursor: pointer;
}

ul, li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.commentItem {
    display: flex;
}

.showButton {
    display: flex;
    align-self: start;
    color: rgb(46, 236, 173);
    font-size: 1rem;
}
.commentBody {
    margin-top: 0.5rem;
}

.commentContainer.postContainer {
    border: none;
    padding-top: 0rem;
    margin-bottom: 0rem;
    justify-content: start;
    align-items: start;
    align-content: start;
    cursor: default;
}

.commentContent {
    cursor: default;
    text-align: left;
}

.treeContainer {
    cursor: default;
}

.commentContainer.postContainer:hover {
    box-shadow: none;
}

.treeContainer {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(57, 69, 122);
    border-top: 1px solid rgb(57, 69, 122);
    border-radius: 25px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    background-color: rgb(32, 38, 65);
    margin-right: 0.5rem;
    /* box-shadow: -4px 0px 3px 0px black; */
    transition: flex 0.1s;
}

#reply {
    margin-top: auto;
    align-self: start;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid rgb(57, 69, 122);
    background-color: rgb(23, 29, 53);
    border-radius: 5rem;
    transition: 0.3s box-shadow;
}

#reply:hover {
    box-shadow: 0px 5px 15px 0px rgb(10, 18, 56);
}

/* .commentRoot.collapsed {
    flex: 0;
    height: 0;
} */