.main {
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: auto;
}

header {
    display: flex;
    position: fixed;
    top:0;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100vw;
    border-bottom: 1px solid black;
    background-color: rgb(32, 38, 65);
}

.list {
    padding: 1rem;
    width: 200px;
    margin-right: auto;
}

.redditWrapper {
    padding-left: 50px;
}

.searchBar {
    width: 200px;
    border-radius: 50px;
    outline: none;
    border: none;
    padding-left: 1rem;
    height: 2rem;
    color: wheat;
    border: 1px solid rgb(57, 69, 122);
    background-color: rgb(23, 29, 53);
}

.userWrapper {
    padding-right: 50px;
    height: auto;
}

#loggedUser {
    display: flex;
}