a {
    text-decoration: none;
    color: wheat;
}

span {
    
}




.postContainer { 
    display: flex;
    padding: 0.5rem;
    margin: 1rem;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
    border: 1px solid rgb(255, 187, 0);
    border-radius: 10px;
    color: wheat;
    cursor: pointer;
}

.voteContainer {
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    color: rgb(236, 154, 46);
    text-shadow: 0px 1px 5px chocolate;
}

.upvote {
    background: none!important;
    border: none;
    padding: 0!important;
    color: rgb(228, 215, 181);
    text-shadow: 0px 1px 5px chocolate;
}

.downvote {
    background: none!important;
    border: none;
    padding: 0!important;
    color: rgb(228, 215, 181);
    text-shadow: 0px 1px 5px chocolate;
}

.upvote.clicked {
    color: rgb(236, 154, 46);
    text-shadow: 0px 1px 5px rgb(236, 154, 46);
}

.downvote.clicked {
    color: rgb(11, 75, 117);
    text-shadow: 0px 1px 5px rgb(11, 75, 117);
}

.postContent {
    display: flex;
    flex-direction: column;
}

.author {
    display: flex;
    color: rgb(146, 129, 96);
    font-size: 0.8rem;
}

.title {
    margin-top: 0.1rem;
    justify-self: end;
    display: flex;
}