
.voteContainer {
    display: flex;
    margin: 0.5rem;
    flex-direction: column;
    color: rgb(236, 154, 46);
    text-shadow: 0px 1px 5px chocolate;
}

button {
    background: none;
    border: none;
    padding: 0;
    color: rgb(228, 215, 181);
    text-shadow: 0px 1px 5px chocolate;
    transition: font-size .3s;
    cursor: pointer;
}

button:hover {
    font-size: 1rem;
}

.upvote.clicked {
    color: rgb(236, 154, 46);
    text-shadow: 0px 1px 5px rgb(236, 154, 46);
}

.downvote.clicked {
    color: rgb(11, 75, 117);
    text-shadow: 0px 1px 5px rgb(11, 75, 117);
}

.score {
    cursor: default;
}